body, .carousel{
    background-color: #aaa;
}

#home{
    padding-top: 70px;
}
.well p {
    margin: 1em;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .well p {
        margin-left: 2em;
        
    }
}
.gray {
    background-color: #999;
    color: #fff;
}
.not-gray, .panel {
    background-color: #f5f5f5;
    color: #000;
}
/* changed form padding to margin for shadow effect */
a img {
    margin-bottom: 15px;
}
.navbar-fixed-top {
    padding-right: 15px;
}
.color-switcher {
    font-size: 1.25em;
}
/* make the tabs look like tabs... */
.nav-tabs {
    border-bottom: none;
}
.nav-tabs > li.active > a {
    background-color: #f5f5f5;
    border:  1px solid #f5f5f5;
    /* border-bottom: none; */
}
input:focus {
    -webkit-box-shadow: 2px 1px 1px #aaa !important;
    -moz-box-shadow: 2px 1px 1px #aaa !important;
    box-shadow: none !important;
}
/* for gallery */
.glow {
    -webkit-box-shadow: 6px 6px 2px #aaa;
    -moz-box-shadow: 6px 6px 2px #aaa;
    box-shadow: 6px 6px 2px #aaa;
}
#gallery .col-sm-2 img {
    opacity: .5;
    margin-top: 2em;
}
#gallery .col-sm-2 .change {
    opacity: 1;
}
